<div class="home-content">
    <div class="sidebar">
        <div class="profile">
            <img src="../assets/images/download3.jpeg" alt="profile_picture">
            <h3>Roopa Sri</h3>
            <p>Java</p>
        </div>
        <ul class="navlist">
            <li>
                <a href="#" routerLink="/home" class="active">
                    <span class="icon"><i class="fa fa-home"></i></span>
                    <span class="item">Home</span>
                </a>
            </li>
            <li>
                <a href="#About" routerLink="/home">
                    <span class="icon"><i class="fa fa-user"></i></span>
                    <span class="item">About</span>
                </a>
            </li>
            <li>
                <a href="#" routerLink="/resume">
                    <span class="icon"><i class="fa fa-file"></i></span>
                    <span class="item">Resume</span>
                </a>
            </li>
            <li>
                <a href="#" routerLink="/portfolio">
                    <span class="icon"><i class="fa fa-suitcase"></i></span>
                    <span class="item">Portfolio</span>
                </a>
            </li>
            <li>
                <a href="#project-content" routerLink="/home">
                    <span class="icon"><i class="fa fa-handshake"></i></span>
                    <span class="item">Services</span>
                </a>
            </li>
            <li>
                <a href="#contact" routerLink="/contact">
                    <span class="icon"><i class="fa fa-address-book"></i></span>
                    <span class="item">Contact</span>
                </a>
            </li>
        </ul>
    </div>
</div>