<app-nav-bar></app-nav-bar>
<section class="content">
    <div class="resume">
        <h1>Online Resume</h1>
        <a href="#" class="pdfdownload" routerLink="/"><button type="file" class="btn btn-success"><i
                    class='fa fa-file-pdf-o'> </i> Download PDF Version</button></a>

    </div>
    <div class="container">
        <div class="row resumecontainer">
            <div class="col-sm-6 name">
                <h1>Roopa Sri</h1>
                <h4>Java Developer</h4>
            </div>

            <div class="col-sm-6">
                <div class="social-media">
                    <span title="contact"><a href="#contact" class="tooltiplink" data-title="Download Wonder Plugins"
                            class=""><i class="fa fa-phone"> +91
                                9443239065</i></a></span>
                    <span title="linkedin"><a href="https://www.linkedin.com/in/roopa-sri-6403941b6" class=""><i
                                class="fa fa-linkedin">
                                https://www.linkedin.com/in/roopa-sri-6403941b6</i></a></span>
                    <span title="mail"><a href="https://mail.google.com/" class=""><i class="fa fa-envelope">
                                roopasri533@gmail.com</i></a></span>
                    <span title="location"><a href="https://www.google.com/maps/" class=""><i class="fa fa-map-marker">
                                Madurai</i></a></span>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4 profileintrocard">
                <div class="profile">
                    <img src="../assets/images/download3.jpeg" alt="profile_picture">
                </div>
            </div>
            <div class="col-sm-8 profileintro">
                <p>Welcome to my portfolio A career portfolio is more than a resume. It puts together all the
                    opportunities,
                    skills, and experiences that an employee has or would like to accumulate. A career ladder seems
                    restrictive,
                    but a career portfolio presents never-ending options that end with personal fulfillment and
                    discovery.welcome to my portfolio A career portfolio is more than a resume. It puts together all the
                    opportunities,
                    skills, and experiences that an employee has or would like to accumulate. A career ladder seems
                    restrictive,
                    but a career portfolio presents never-ending options that end with personal fulfillment and
                    discovery.
                </p>
            </div>
        </div>
        <hr>
        <div class="row project-content">
            <div class="content-title">
                <h1>Work Experience</h1>
            </div>
            <div class="col-sm-12">
                <div class="card flex-row">
                    <div class="row">
                        <div class="col-sm-4  workexpcard1">
                            <h3>JAN (2022-2023)</h3>
                            <h5>Java Developer</h5>
                            <h5>Present</h5>
                        </div>
                        <div class="col-sm-8 workexpcard2">
                            <p class="head"><i id="icon" class="fa fa-building" aria-hidden="true"></i>
                                Techmango Technology Services Private Limited</p>
                            <p>Our team’s technical excellence takes you halfway to success. At Techmango, we understand
                                that a solid hold of your business domain and mature development approach is equally
                                important. We put a high value on transparency and extensive communication to make sure
                                the needs and expectations of every client are met 100%.I am really impressed by the
                                wonderful team of TTS for being so professional.The team shows a true sense of
                                ownership with a
                                commitment of project management skills.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row project-content">
            <div class="col-sm-12">
                <div class="card flex-row">
                    <div class="row">
                        <div class="col-sm-4  workexpcard1">
                            <h3>MAY-DEC (2021)</h3>
                            <h5>Iternship Trainee</h5>
                        </div>
                        <div class="col-sm-8 workexpcard2">
                            <p class="head"><i id="icon" class="fa fa-building" aria-hidden="true"></i>
                                Sri Mookambika Info Solutions Private Limited</p>
                            <p>At SMI, We highly regard our workplace to be welcoming and engaging, and work should be
                                exciting and meaningful. So, right from benefits, to growth opportunities through
                                empowerment and to social activities that build our community at every level. Our
                                industrious efforts made SMI . An epitome of excellence at work.It’s the Flair,
                                Expertise and Passion that each individual brings to the company that truly defines us.
                                SMI delivers a holistic approach in empowering the employees at work, aligned with
                                passion.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!-- skills -->
        <div class="row project-content">
            <div class="content-title">
                <h1>Technical Skills</h1>
            </div>
            <div class="skillslist">
                <ul>
                    <li>
                        <span title="contact"><a href="#contact" class="tooltiplink"
                                data-title="Download Wonder Plugins" class=""><i id="icon" class="fab fa-java">
                                    JAVA - Just Another Virtual Accelerator</i></a></span>
                    </li>

                    <li>
                        <span title="contact"><a href="#contact" class="tooltiplink"
                                data-title="Download Wonder Plugins" class=""><i id="icon" class="fab fa-html5">
                                    HTML - Hypertext Markup Language
                                </i></a></span>
                    </li>
                    <li>
                        <span title="contact"><a href="#contact" class="tooltiplink"
                                data-title="Download Wonder Plugins" class=""><i id="icon" class="fab fa-css3">
                                    CSS - Cascading Style Sheets
                                </i></a></span>
                    </li>
                    <li>
                        <span title="contact"><a href="#contact" class="tooltiplink"
                                data-title="Download Wonder Plugins" class=""><i id="icon" class="fab fa-js">
                                    JS - JavaScript</i></a></span>
                    </li>
                    <li>
                        <span title="contact"><a href="#contact" class="tooltiplink"
                                data-title="Download Wonder Plugins" class=""><i id="icon" class="fa fa-database">
                                    MYSQL - My Structured Query Language</i></a></span>
                    </li>
                    <li>
                        <span title="contact"><a href="#contact" class="tooltiplink"
                                data-title="Download Wonder Plugins" class=""><i id="icon" class="fab fa-angular">
                                    ANGULAR Javascript</i></a></span>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <!-- project -->
        <div class="row project-content">
            <div class="content-title-projects">
                <h1>Project</h1>
            </div>
            <div class="col-sm-12">
                <div class="card flex-row">
                    <div class="row">
                        <div class="col-sm-4  workexpcard1">
                            <h3>April-2022</h3>
                            <h5>Java Developer</h5>
                        </div>
                        <div class="col-sm-8 workexpcard2">
                            <p class="head"><i id="icon" class="fas fa-tasks" aria-hidden="true"></i>
                                TVS Electronics</p>
                            <p>
                                SYNERGY is a product manufacturer and service provider company which involves
                                outsourcing of
                                softwares, Customized products based on requirements, dynamic product based on
                                clients
                                requirements
                                and needs.
                                Develop the code as per the requirements
                                Develop API using Spring Bootstrap
                                Report generated as per the need
                                Bug fixing and Database Connectivity
                                Collaborating with the team to identify and fix technical problems.
                                Fulfilling all the commitments by timely delivering the deliverable.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <!-- education -->
        <div class="row project-content">
            <div class="content-title-education">
                <h1>Educational Qualification</h1>
            </div>
            <div class="col-sm-12">
                <div class="card flex-row">
                    <div class="row">
                        <div class="col-sm-4  workexpcard1">
                            <h3>2017-2021</h3>
                            <h5>BE(ECE)</h5>
                        </div>
                        <div class="col-sm-8 workexpcard2">
                            <p class="head"><i id="icon" class="fa fa-university" aria-hidden="true"></i>
                                Sethu Institute of Technology</p>
                            <p class="title">Percentage : 89%</p>
                            <p>To provide quality technical education to fulfill the aspiration of the student and to
                                meet the needs of the Industry
                                To provide holistic learning ambience
                                To impart skills leading to employability and entrepreneurship
                                To establish effective linkage with Industries
                                To promote Research and Development activities
                                To offer services for the development of society through Education and Technology</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 12th -->
            <div class="col-sm-12">
                <div class="card flex-row">
                    <div class="row">
                        <div class="col-sm-4  workexpcard1">
                            <h3>2016-2017</h3>
                            <h5>12th standard</h5>
                        </div>
                        <div class="col-sm-8 workexpcard2">
                            <p class="head"><i id="icon" class="fas fa-school" aria-hidden="true"></i>
                                Devangar Girls Higher Secondary School</p>
                            <p class="title">Percentage : 83% </p>
                            <p>Pursuit of excellence in Academics Games and Sports, Co-curricular activities and in
                                Human Values.
                                Development of Personality, instilling Qualities of self-reliance, courage,
                                self-confidence and self-esteem.
                                Nurturing physically, mentally, spiritually balanced citizen with a deep sense of
                                patriotism.
                                Encouraging a desire for life long learning.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 10th -->
            <div class="col-sm-12">
                <div class="card flex-row">
                    <div class="row">
                        <div class="col-sm-4  workexpcard1">
                            <h3>2015-2016</h3>
                            <h5>10th standard</h5>
                        </div>
                        <div class="col-sm-8 workexpcard2">
                            <p class="head"><i id="icon" class="fas fa-school" aria-hidden="true"></i>
                                Devangar Girls Higher Secondary School</p>
                            <p class="title">Percentage : 95%</p>
                            <p>Pursuit of excellence in Academics Games and Sports, Co-curricular activities and in
                                Human Values.
                                Development of Personality, instilling Qualities of self-reliance, courage,
                                self-confidence and self-esteem.
                                Nurturing physically, mentally, spiritually balanced citizen with a deep sense of
                                patriotism.
                                Encouraging a desire for life long learning.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- about -->
        <div class="row project-content">
            <div class="content-title-about">
                <h1>About</h1>
            </div>
            <div class="col-sm-12">
                <div class="card flex-row">
                    <div class="aboutdiv">
                        <div class="row about-content">
                            <div class="col-sm-6">
                                <ul class="headings mb-5 mx-auto  ps-0">
                                    <li>
                                        <span class="subtitle-icon"><i class="fa fa-chevron-right"></i></span>
                                        <span class="subtitle">Name :</span>
                                    </li>
                                    <li>
                                        <span class="subtitle-icon"><i class="fa fa-chevron-right"></i></span>
                                        <span class="subtitle">Date Of Birth :</span>
                                    </li>
                                    <li>
                                        <span class="subtitle-icon"><i class="fa fa-chevron-right"></i></span>
                                        <span class="subtitle">Age :</span>
                                    </li>
                                    <li>
                                        <span class="subtitle-icon"><i class="fa fa-chevron-right"></i></span>
                                        <span class="subtitle">Father's Name :</span>
                                    </li>
                                    <li>
                                        <span class="subtitle-icon"><i class="fa fa-chevron-right"></i></span>
                                        <span class="subtitle">Mother's Name :</span>
                                    </li>
                                    <li>
                                        <span class="subtitle-icon"><i class="fa fa-chevron-right"></i></span>
                                        <span class="subtitle">Educational Qualification :</span>
                                    </li>
                                    <li>
                                        <span class="subtitle-icon"><i class="fa fa-chevron-right"></i></span>
                                        <span class="subtitle">Job Description :</span>
                                    </li>
                                    <li>
                                        <span class="subtitle-icon"><i class="fa fa-chevron-right"></i></span>
                                        <span class="subtitle">Email :</span>
                                    </li>
                                    <li>
                                        <span class="subtitle-icon"><i class="fa fa-chevron-right"></i></span>
                                        <span class="subtitle">Address :</span>
                                    </li>
                                    <li>
                                        <span class="subtitle-icon"><i class="fa fa-chevron-right"></i></span>
                                        <span class="subtitle">Contact :</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="answers mb-5 mx-auto  ps-0">
                                    <li>
                                        <span class="subtitle">R.Roopa Sri</span>
                                    </li>
                                    <li>
                                        <span class="subtitle">17 August 1999</span>
                                    </li>
                                    <li>
                                        <span class="subtitle">23</span>
                                    </li>
                                    <li>
                                        <span class="subtitle">V.Rama Moorthy</span>
                                    </li>
                                    <li>
                                        <span class="subtitle">R.Saraswathy</span>
                                    </li>
                                    <li>
                                        <span class="subtitle">BE</span>
                                    </li>
                                    <li>
                                        <span class="subtitle">Java Software Developer</span>
                                    </li>
                                    <li>
                                        <span class="subtitle">roopasri533@gmail.com</span>
                                    </li>
                                    <li>
                                        <span class="subtitle">Madurai</span>
                                    </li>
                                    <li>
                                        <span class="subtitle">9443269066</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <hr> -->
                </div>
            </div>
        </div>
        <hr>
        <!-- professional -->
        <div class="row project-content">
            <div class="content-title-professional">
                <h1>Professional Skills</h1>
            </div>
            <div class="professionalskillslist">
                <ul class="square">
                    <li><span class="subtitle-icon"><i class="fa fa-chevron-right"></i></span>
                        <span class="subtitle"> Effective Communication </span>
                    </li>
                    <li>
                        <span class="subtitle-icon"><i class="fa fa-chevron-right"></i></span>
                        <span class="subtitle"> Team Worker </span>
                    </li>

                    <li>
                        <span class="subtitle-icon"><i class="fa fa-chevron-right"></i></span>
                        <span class="subtitle"> Problem Solver </span>
                    </li>

                    <li>
                        <span class="subtitle-icon"><i class="fa fa-chevron-right"></i></span>
                        <span class="subtitle"> Good in Time Management </span>
                    </li>

                </ul>
            </div>
        </div>
        <hr>
        <!-- copyright -->
        <div class="copyright">
            <div class="social-medias">
                <span title="facebook"><a href="#facebook" class="tooltiplink" data-title="Download Wonder Plugins"
                        class=""><i class="fa fa-facebook"></i></a></span>
                <span title="linkedin"><a href="#linkedin" class=""><i class="fa fa-linkedin"></i></a></span>
                <span title="instagram"><a href="#instagram" class=""><i class="fa fa-instagram"></i></a></span>
                <span title="twitter"><a href="#twitter" class=""><i class="fa fa-twitter"></i></a></span>
            </div>
            <a href="copyright"><span class="copyrightpart">Copyright<i class="fa fa-copyright"></i><span
                        class="copyright-part">2023
                        RoopaPF,Inc.</span></span>
            </a>
        </div>
    </div>
</section>