<app-nav-bar></app-nav-bar>
<div class="home-content">
    <section class="content">
        <div class="container">
            <h1>Roopa Sri</h1>
            <h4>Java Software Developer</h4>
            <p>I am highly self motivated professional which involves analysis , design , development and implementation
                of web based applications .To obtain a challenging and responsible position in an organization
                where I contribute to the successful
                growth of an organization using my abilities and knowledge</p>
        </div>
        <a href="#portfolio" routerLink="/portfolio"><button type="button" class="btn btn-success"><i
                    class='fa fa-arrow-circle-right'></i>
                Portfolio</button></a>
        <a href="#resume" routerLink="/resume"><button type="button" class="btn btn-primary"><i class='fa fa-file'></i>
                Resume</button></a>
    </section>
</div>
<hr>

<!-- about -->
<div id="about">
    <section class="content">
        <div class="content-title">
            <h1>What I do</h1>
        </div>
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="../assets/images/java.jpeg" alt="profile_picture">
                    <h3>JAVA 8</h3>
                    <p>Java is a widely used object-oriented programming language and software platform that runs on
                        billions of devices, including notebook computers, mobile devices, gaming consoles, medical
                        devices
                        and many others.The syntax of Java are based on other languages.</p>
                    <a href="https://en.wikipedia.org/wiki/Java_(programming_language)"
                        class="btn btn-primary">readmore</a>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="../assets/images/mysql.png" alt="profile_picture">
                    <h3>MYSQL</h3>
                    <p>MySQL is a powerful open-source database management system that is widely used for storing and
                        organizing data. It is known for its fast performance, reliability, and ease of use, making it a
                        popular choice for web applications, business data, and other types of data storage.</p>
                    <a href="https://en.wikipedia.org/wiki/MySQL" class="btn btn-primary">readmore</a>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="../assets/images/css.png" alt="profile_picture">
                    <h3>CSS</h3>
                    <p>
                        With CSS, you can control the color, font, the size of text, the spacing between elements, how
                        elements are positioned and laid out, what background images or background colors are to be
                        used,
                        different displays for different devices and screen sizes, and much more!</p>
                    <a href="https://en.wikipedia.org/wiki/CSS" class="btn btn-primary">readmore</a>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="../assets/images/html.png" alt="profile_picture">
                    <h3>HTML</h3>
                    <p>
                        HTML stands for Hyper Text Markup Language. HTML is the standard markup language for creating
                        Web
                        pages. HTML describes the structure of a Web page. HTML consists of a series of elements. HTML
                        elements tell the browser how to display the content.</p>
                    <a href="https://en.wikipedia.org/wiki/HTML" class="btn btn-primary">readmore</a>
                </div>
            </div>
        </div>
    </section>
</div>
<hr>

<!-- about -->
<section id="About">
    <section class="about-content">
        <div class="content-title">
            <h1>About</h1>
        </div>
        <div class="aboutdiv">
            <div class="row about-content">
                <div class="col-sm-4">
                    <ul class="headings mb-5 mx-auto  ps-0">
                        <li>
                            <span class="subtitle-icon"><i class="fa fa-chevron-right"></i></span>
                            <span class="subtitle">Name :</span>
                        </li>
                        <li>
                            <span class="subtitle-icon"><i class="fa fa-chevron-right"></i></span>
                            <span class="subtitle">Date Of Birth :</span>
                        </li>
                        <li>
                            <span class="subtitle-icon"><i class="fa fa-chevron-right"></i></span>
                            <span class="subtitle">Age :</span>
                        </li>
                        <li>
                            <span class="subtitle-icon"><i class="fa fa-chevron-right"></i></span>
                            <span class="subtitle">Father's Name :</span>
                        </li>
                        <li>
                            <span class="subtitle-icon"><i class="fa fa-chevron-right"></i></span>
                            <span class="subtitle">Mother's Name :</span>
                        </li>
                        <li>
                            <span class="subtitle-icon"><i class="fa fa-chevron-right"></i></span>
                            <span class="subtitle">Educational Qualification :</span>
                        </li>
                        <li>
                            <span class="subtitle-icon"><i class="fa fa-chevron-right"></i></span>
                            <span class="subtitle">Job Description :</span>
                        </li>
                        <li>
                            <span class="subtitle-icon"><i class="fa fa-chevron-right"></i></span>
                            <span class="subtitle">Email :</span>
                        </li>
                        <li>
                            <span class="subtitle-icon"><i class="fa fa-chevron-right"></i></span>
                            <span class="subtitle">Address :</span>
                        </li>
                        <li>
                            <span class="subtitle-icon"><i class="fa fa-chevron-right"></i></span>
                            <span class="subtitle">Contact :</span>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-8">
                    <ul class="answers mb-5 mx-auto  ps-0">
                        <li>
                            <span class="subtitle">R.Roopa Sri</span>
                        </li>
                        <li>
                            <span class="subtitle">17 August 1999</span>
                        </li>
                        <li>
                            <span class="subtitle">23</span>
                        </li>
                        <li>
                            <span class="subtitle">V.Rama Moorthy</span>
                        </li>
                        <li>
                            <span class="subtitle">R.Saraswathy</span>
                        </li>
                        <li>
                            <span class="subtitle">BE</span>
                        </li>
                        <li>
                            <span class="subtitle">Java Software Developer</span>
                        </li>
                        <li>
                            <span class="subtitle">roopasri533@gmail.com</span>
                        </li>
                        <li>
                            <span class="subtitle">Madurai</span>
                        </li>
                        <li>
                            <span class="subtitle">9443269066</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</section>

<hr>
<!-- skills -->
<section class="skill-content">
    <div class="content-title">
        <h1>Skills</h1>
    </div>
    <div class="row project-content">
        <div class="row">
            <div class="col-sm-6">
                <div class="skill-container">
                    <div class="skill html">HTML 80%</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="skill-container">
                    <div class="skill css">CSS 70%</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="skill-container">
                    <div class="skill java">JAVA 85%</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="skill-container">
                    <div class="skill mysql">MYSQL 80%</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="skill-container">
                    <div class="skill javascript">JAVASCRIPT 60%</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="skill-container">
                    <div class="skill angular">ANGULAR 70%</div>
                </div>
            </div>
        </div>
    </div>

</section>
<hr>

<!-- projects -->

<section class="project-content" id="project-content">
    <div class="content-title">
        <h1>Featured Projects</h1>
    </div>
    <div class="row project-content">
        <div class="col-sm-6">
            <div class="card flex-row">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="../assets/images/undraw_static_assets_rpm6.png" alt="profile_picture">
                    </div>
                    <div class="col-sm-6">
                        <p>Web development refers to the creating, building, and maintaining of websites. It includes
                            aspects such as web design, web publishing, web programming, and database management. It is
                            the creation of an application that works over the internet</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card flex-row">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="../assets/images/undraw_tailwind_css_1egw.png" alt="profile_picture">

                    </div>
                    <div class="col-sm-6">
                        <p>Back-end development means working on server-side software, which focuses on everything you
                            can't see on a website. Back-end developers ensure the website performs correctly, focusing
                            on databases, back-end logic, application programming interface.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row project-content">
        <div class="col-sm-6">
            <div class="card flex-row">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="../assets/images/draw2.png" alt="profile_picture">
                    </div>
                    <div class="col-sm-6">
                        <p>
                            A front-end developer builds the front-end portion of websites and web applications—that is,
                            the part that users actually see and interact with. A front-end developer creates websites
                            and applications using web languages that allow users to
                            access & interact with the app</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card flex-row">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="../assets/images/draw1.png" alt="profile_picture">
                    </div>
                    <div class="col-sm-6">
                        <p>
                            The MySQL server provides a database management system with querying and connectivity
                            capabilities, as well as the ability to have excellent data structure and integration with
                            many different platforms. It can handle large databases reliably and quickly
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <a href="#" class="viewportfolio" routerLink="/portfolio"><button type="button" class="btn btn-success"><i
                class='fa fa-arrow-circle-right'></i> View Portfolio
        </button></a>
</section>
<hr>

<!-- copyright -->
<div class="copyright">
    <div class="social-media">
        <span title="facebook"><a href="https://www.facebook.com/" class="tooltiplink"
                data-title="Download Wonder Plugins" class=""><i class="fa fa-facebook"></i></a></span>
        <span title="linkedin"><a href="https://www.linkedin.com/in/roopa-sri-6403941b6" class=""><i
                    class="fa fa-linkedin"></i></a></span>
        <span title="instagram"><a href="https://www.instagram.com/" class=""><i class="fa fa-instagram"></i></a></span>
        <span title="twitter"><a href="https://www.twitter.com/" class=""><i class="fa fa-twitter"></i></a></span>
    </div>
    <a href="copyright"><span class="copyrightpart">Copyright<i class="fa fa-copyright"></i><span
                class="copyright-part">2023
                RoopaPF,Inc.</span></span>
    </a>
</div>